
html, body{
    height:100%;
    width:100%;
    margin:0;
    
}

body{
    background-color:#EC7171;
}

main{
    background-color:#FFEFB7;
    margin:10px auto;
    max-width:40%;
    min-width:300px;
    min-height:100%;
    
}

#title{
    font-size:1em;
    color:white;
    border:2px solid red;
    display:grid;
    grid-template-columns:[line1] 15% [line2] 17.5% [line3] 17.5% [line4] 17.5% [line5] 17.5% [line6] 15% [line7];
    grid-template-rows:[row1] 5% [row2] 5% [row3];
}

#title h1{
    padding-left:2%;
}


#colorBox1{
    grid-column-start:line2;
    grid-column-end:line5;
    grid-row-start:row1;
    grid-row-end:row2;
    background-color:#EC7171;
    border:2px solid green;
}

#colorBox2{
    grid-column-start:line3;
    grid-column-end:line6;
    grid-row-start:row2;
    grid-row-end:row3;
    background-color:#EC7171;
    border:2px solid green;
}

#titleBox1{
    grid-column-start:line2;
    grid-column-end:line4;
    grid-row-start:row1;
    grid-row-end:row2;
}

#titleBox2{
    grid-column-start:line3;
    grid-column-end:line5;
    grid-row-start:row2;
    grid-row-end:row3;
}

#form{
    margin:10px 5%;
    text-align:center;
}

label{
    color:#EC7171;
    font-size:3em;
}


#phrase{
    width:60%;
    min-height:40px;
    font-size:2em;
}

#key{
    width:10%;
    min-height:40px;
    font-size:2em;
    text-align:center;
}


#outputBox{
    border:5px solid #EC7171;
    margin:10px 5%;
    margin-bottom:10px;
    background: rgba(255,255,255,0.5);
    text-align:center;
}

#output{
    font-size:1.25em;
}


